$header_bg: #FFFFFF;
$border: #1F343E;
$text: #1F343E;
$nav_bar_item: #434A54;
$active_nav_bar_item: #4EB3E3;
$panel_bg: #F8F4F9;
$error: #ED6F82;
$input_text: #6D7A80;
$input_bg: #FFFFFF;
$button_text: #FFFFFF;
$button_bg: #4EB3E3;
$sub_text: #6D7A80;
$main_bg: #F8CC5D;